<app-header></app-header>
<div class="container">

  <h1 class="text-center mb-2">Lista de Articulos</h1>

  <button class="btn btn-success mb-4" type="button" [routerLink]="['/articulo/form']" >Crear Articulo</button>
  <div class="table-responsive text-nowrap">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">Imagen</th>
        <th scope="col">Opciones</th>

      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let articulo of articulos | filter:filterArticulo | paginate: { itemsPerPage: 3, currentPage: page } ">
        <td>{{articulo.nombre}}</td>
        <td>{{articulo.precio | currency:'EUR'}}</td>
        <td>{{articulo.stock | number}}</td>
        <img src={{articulo.imagen}} >
        <td>
           <button type="button" class="btn btn-warning" [routerLink]="['/articulo/form/',articulo.id]"> Editar </button>
           <button type="button"  class="btn btn-success m-2" [routerLink]="['/articulo/mostrar/',articulo.id]" > Mostrar </button>
        </td>
      </tr>

      <div class="container">
        <h5>Buscar Articulo</h5>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Buscar" name="filterArticulo" [(ngModel)]="filterArticulo">
            </div>
          </div>
        </div>
      </div>

    </tbody>
  </table>

  <pagination-controls class="float-end m-5" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>

</div>
</div>

<br>
<br>
<br>
<br>
